.myinfo {
  text-align: center;
  font-family: arial;
  font-size: 14px;
}

.jobheadings {
  font-weight: bold;
  font-family: arial;
}

.h3 {
  text-decoration: underline;
}

.education {
  font-weight: bold;
  font-style: italic;
}

.jobdescription {
  font-style: italic;
}
